/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.main__bg {
  background-image: url("../img/l-back.jpg");
  width: 100%;
  height: 100vh;
  font: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__login {
  background-color: white;
  height: 100vh;
  width: 40%;
  margin: 0%;
}
.main__img{
  height: 50%;
  width: 100%;
}
.main__form{
  padding-top: calc(100% / 4);
}
.main__message{
  padding-top: 1em;
  padding-bottom: 2em;
  color: #A6A7AD;
}
.main__login_text{
  padding-left: 1em;
  color: #333333;
}
.main__form_pass{
  padding-bottom: 1em;
}
.main__rows{
  margin-bottom: -15px;
}
.main__button{
  color: #000000;
  border-color: #FEDB3F;
  background-color: #FEDB3F;
  font-weight: 600;
  padding: 0.7rem 2.5rem;
  font-size: 0.9rem;
  margin: 1em auto;
}
.main__forget_pass{
  font-size: 0.9rem;
  color: #333333;
}
.main__forget_pass:hover{
  color: #A6A7AD;
  text-decoration: none;
}
@media only screen and (max-width: 1024px){
  .main__login {
  width: 50%;
}
}
@media only screen and (max-width: 768px){
  .main__login{
    width: 70%;
  }
}
@media only screen and (max-width: 425px){
  .main__login{
    width: 100%;
  }
  .main__bg{
    background-image: none;
  }
  .main__message{
    font-size: 1rem;
  }
  .main_img{
    height: 30%;
  }
}
.recover__form{
  padding-top: calc(100% / 3);
}
.recover__message{
  padding: 1em 5em 0 5em;
  color: #A6A7AD;
}
.recover__button{
  color: #000000;
  border-color: #FEDB3F;
  background-color: transparent;
  font-weight: 600;
  padding: 0.7rem 2.5rem;
  font-size: 0.9rem;
  margin: 1em auto;
}
.password__show{
  display: block;
  right: 15px;
  position: absolute;
  top: 30px;
  cursor: pointer;
}
.recover__pass{
  padding: 1em 0 0 0.5em;
}
.recover__pass__text{
  margin: -25px 0px 0 30px;
}
.cgreen{
  color: #5CB85C;
}
.cred{
  color: #D9534F;
}
.times{
  margin: 0 0 0 2px;
}
.menu__svg{
  fill: #576271;
  stroke: #576271;
}
.menu__svg:active{
  fill: #FEDB3F;
  stroke: #FEDB3F;
}
.dash__body{
  background-color: #F7F9FB;
}
.dash__logo{
  width: 75%;
  margin: 40px 0 40px 20px;
  min-width: 150px;
}
.wrapper{
  display: flex;
  position: relative;
}
.wrapper .dash__sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: white;
  transition: all 0.3s ease;
  overflow: hidden;
}
.wrapper .dash__sidebar ul{
  padding-bottom: 100px;
}
.wrapper .dash__footer ul{
  padding-bottom: 10px;
}
.wrapper .dash__sidebar ul li,
.wrapper .dash__footer ul li{
  padding: 8px 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.wrapper .dash__sidebar ul li a,
.wrapper .dash__footer ul li a{
  color: #576271;
  display: block;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}
.wrapper .dash__sidebar ul li a p,
.wrapper .dash__footer ul li a p{
  margin: -25px 0 0 55px;
}
.wrapper .dash__sidebar ul .active,
.wrapper .dash__footer ul .active{
  font-weight: 600;
  background-color: #F7F9FB;
}
.wrapper .dash__sidebar ul .active p,
.wrapper .dash__sidebar ul .active span.icon .icon__svg .st0,
.wrapper .dash__footer ul .active p,
.wrapper .dash__footer ul .active span.icon .icon__svg .st0{
  color: #FEDB3F;
  fill: #FEDB3F;
}
.wrapper .dash__sidebar ul span.icon svg,
.wrapper .dash__footer ul span.icon svg{
  width: 25px;
  height: 25px;
  margin: 0 5% 0 10%;
}
.wrapper .dash__sidebar ul li:hover{
  background-color: #F7F9FB;
  text-decoration: none;
}
.wrapper .dash__footer{
  position: absolute;
  bottom: 0;
}
.div-transparent:before {
  margin-top: 340%;
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #E0E3DA, transparent);
}
.wrapper.hide .dash__sidebar{
  width:60px;
}
.wrapper.hide .dash__footer{
  left: 15px;
  position: absolute;
  bottom: 0;
}
.toggle{
  position: absolute;
  top: 0;
  margin-left: 175px;
  margin-top: 10px;
  bottom: 0;
  display: flex;
  color: #576271;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wrapper .dash__main{
  background-color: #F7F9FB;
  background-size: ;
  box-shadow: #D1D0D0;
  width: calc(100% - 220px);
  margin-top: 0.1%;
  margin-left: 210px;
  padding: 15px;
  transition: all 0.3s ease;
}
.wrapper .dash__main .item{
  background: white;
  border: #F7F9FB;
  padding: 15px;
}
.wrapper.hide .toggle{
  margin-left: 28px;
  transform: rotateY(180deg);
}
.wrapper.hide .dash__sidebar ul li a,
.wrapper.hide .dash__footer ul li a{
  text-align: center;
}
.wrapper.hide .dash__sidebar ul li a span.icon{
  margin: 0;
}
.wrapper.hide .dash__sidebar ul li a span.title{
  display: none;
}
.wrapper.hide .dash__sidebar .div-transparent{
  display: none;
}
.wrapper.hide .dash__sidebar ul .active span.icon .icon__svg .st0,
.wrapper.hide .dash__footer ul .active span.icon .icon__svg .st0{
  fill: #FEDB3F;
}
.wrapper.hide .dash__main{
  width: calc(100% - 80px);
  margin-left: 70px;
}
.wrapper .dash__main_card{
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.wrapper .dash__side_card1{
  background-color: white;
  border-right: #F7F9FB 20px solid;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  clip-path: inset(-5px 0px -5px 0px);
}
.wrapper .dash__side_card2{
  background-color: white;
  border-left: #F7F9FB 20px solid;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  clip-path: inset(-5px 0px -5px 0px);
}
