
.form-field {
  display: block;
  margin-bottom: 16px;
}
.form-field--is-active .form-field__control::after {
  border-bottom: 2px solid #E9E9F0;
  -webkit-transform: scaleX(150);
  transform: scaleX(150);
}
.form-field--is-active .form-field__label {
  color: #333;
  font-size: 0.70rem;
  -webkit-transform: translateY(-17px);
  transform: translateY(-17px);
}
.form-field--is-filled .form-field__label {
  font-size: 0.70rem;
  -webkit-transform: translateY(-17px);
  transform: translateY(-17px);
  color: #A6A7AD;
}
.form-field__label {
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 25px 9px 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
}
.form-field__control {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.form-field__control::after {
  border-bottom: 2px solid #E9E9F0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 1%;
}
.form-field__input,
.form-field__textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #E9E9F0;
  color: #333;
  display: block;
  font-size: 0.9rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 9px;
  width: 100%;
}
.form-field__input.error,
.form-field__textarea.error{
    border-bottom: 1px solid #E53935;
}
.form-error-label{
    margin: 0;
    font-size: 0.9rem;
    color: #E53935;
}
.form-field__textarea {
  height: 150px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Source Sans Pro', Arial, sans-serif;
  color: #333333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}
input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    color: #222;
    font-size: 1em;
    font-family: 'Source Sans Pro';
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main__bg {
    background-image: url("../img/dashboard/l-back.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__login {
    background-color: white;
    min-height: 100vh;
    width: 40%;
    margin: 0;
}
.main__img {
    height: 50%;
    width: 100%;
}
.main__form {
    padding-top: calc(100% / 4);
}
.main__message {
    padding-top: 1em;
    padding-bottom: 2em;
    color: #A6A7AD;
}
.main__login_text {
    padding-left: 1em;
    color: #333333;
}
.main__form_pass {
    padding-bottom: 1em;
}
.main__rows {
    margin-bottom: -15px;
}
.main__button {
    color: #000000;
    border-color: #FEDB3F;
    background-color: #FEDB3F;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    margin: 1em auto;
}
.recover__button {
    color: #000000;
    border-color: #FEDB3F;
    background-color: transparent;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    margin: 1em auto;
}
.main__forget_pass {
    font-size: 0.9rem;
    color: #333333;
}
.main__forget_pass:hover {
    color: #A6A7AD;
    text-decoration: none;
}

.recover__form {
    padding-top: calc(100% / 3);
}
.recover__message {
    padding: 1em 5em 0;
    color: #A6A7AD;
}
.password__show {
    display: block;
    right: 15px;
    position: absolute;
    top: 30px;
    cursor: pointer;
}
.recover__pass {
    padding: 1em 0 0 0.5em;
}
.recover__pass__text {
    margin: -25px 0 0 30px;
}
.cgreen {
    color: #5CB85C;
}
.cred {
    color: #D9534F;
}
.times {
    margin: 0 0 0 2px;
}
.menu__svg {
    fill: #576271;
    stroke: #576271;
}
.menu__svg:active {
    fill: #FEDB3F;
    stroke: #FEDB3F;
}
.dash__body {
    background-color: #F7F9FB;
}
.dash__logo {
    width: 75%;
    margin: 40px 0 40px 20px;
    min-width: 150px;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.wrapper .dash__sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: white;
    overflow: hidden;
}
.wrapper .dash__sidebar ul {
    padding-bottom: 100px;
}
.wrapper .dash__footer ul {
    padding-bottom: 10px;
}
.wrapper .dash__footer ul li,
.wrapper .dash__sidebar ul li {
    padding: 8px 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.wrapper .dash__footer ul li a,
.wrapper .dash__sidebar ul li a {
    color: #576271;
    display: block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.wrapper .dash__footer ul li a p,
.wrapper .dash__sidebar ul li a p {
    margin: -25px 0 0 55px;
}
.wrapper .dash__footer ul .active,
.wrapper .dash__sidebar ul .active {
    font-weight: 600;
    background-color: #F7F9FB;
}
.wrapper .dash__footer ul .active p,
.wrapper .dash__footer ul .active span.icon .icon__svg .st0,
.wrapper .dash__sidebar ul .active p,
.wrapper .dash__sidebar ul .active span.icon .icon__svg .st0 {
    color: #FEDB3F;
    fill: #FEDB3F;
}
.wrapper .dash__footer ul span.icon svg,
.wrapper .dash__sidebar ul span.icon svg {
    width: 25px;
    height: 25px;
    margin: 0 5% 0 10%;
}
.wrapper .dash__sidebar ul li:hover {
    background-color: #F7F9FB;
    text-decoration: none;
}
.wrapper .dash__footer {
    position: fixed;
    width: 200px;
    bottom: 0;
}
.div-transparent:before {
    margin-top: 300%;
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#E0E3DA), to(transparent));
    background-image: -o-linear-gradient(left, transparent, #E0E3DA, transparent);
    background-image: linear-gradient(to right, transparent, #E0E3DA, transparent);
}
.wrapper.hide .dash__sidebar {
    width: 60px;
}
.wrapper.hide .dash__footer {
    width: 60px;
}
.toggle {
    position: absolute;
    top: 0;
    margin-left: 175px;
    margin-top: 10px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #576271;
    font-size: 20px;
    cursor: pointer;
    /* -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; */
    max-height: 20px;
}
.wrapper .dash__main {
    background-color: #F7F9FB;
    -webkit-box-shadow: #D1D0D0;
            box-shadow: #D1D0D0;
    width: calc(100% - 220px);
    margin-top: 0.1%;
    margin-left: 210px;
    padding: 15px;
    /* -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; */
}
.wrapper .dash__main .item {
    background: white;
    border: #F7F9FB;
    padding: 15px;
}
.wrapper.hide .toggle {
    margin-left: 28px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.wrapper.hide .dash__footer ul li a,
.wrapper.hide .dash__sidebar ul li a {
    text-align: center;
}
.wrapper.hide .dash__sidebar ul li a span.icon {
    margin: 0;
}
.wrapper.hide .dash__sidebar ul li a span.title {
    display: none;
}
.wrapper.hide .dash__sidebar .div-transparent {
    display: none;
}
.wrapper.hide .dash__footer ul .active span.icon .icon__svg .st0,
.wrapper.hide .dash__sidebar ul .active span.icon .icon__svg .st0 {
    fill: #FEDB3F;
}
.wrapper.hide .dash__main {
    width: calc(100% - 80px);
    margin-left: 70px;
}
.wrapper .dash__main_card {
    background-color: white;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
.wrapper .dash__side_card1 {
    background-color: white;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
.wrapper .dash__side_card2 {
    background-color: white;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
.dash__main_divisor:before {
    margin-top: 5%;
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#E0E3DA), to(transparent));
    background-image: -o-linear-gradient(left, transparent, #E0E3DA, transparent);
    background-image: linear-gradient(to right, transparent, #E0E3DA, transparent);
}
.dash__main_button {
    color: #000000;
    border-color: #FEDB3F;
    border-radius: 5px;
    border-width: 2px;
    font-weight: 600;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    margin: 10px 0;
}
.dash__main_button:hover {
    background-color: #FEDB3F;
}
.dash__main_title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}
.dash__main_indicator {
    background-color: #FEDB3F;
    border-radius: 50px;
    padding: 0.1rem 0.37rem;
    font-size: 15px;
}
.dash__table_button {
    color: #000000;
    border-color: #FEDB3F;
    background-color: #FEDB3F;
    border-radius: 5px;
    border-width: 2px;
    font-weight: 600;
    padding: 0.2rem 0.9rem;
    font-size: 0.9rem;
}
.dash__side_card1_container {
    margin: 15px 0 0;
}
.dash__bar {
    margin-top: 5px;
    margin-left: -10px;
}
.dash__sc1c_text {
    font-size: 0.8em;
}
.dash__sc1_text {
    margin-left: -5px;
}
.dash__div {
    margin-top: -15px;
    margin-bottom: 20px;
}
.dash__graph {
    border: none;
}
.dash__input {
    border-color: #FEDB40;
    border-radius: 5px;
    background-color: transparent;
    border-width: 2px;
    max-height: 30px;
    max-width: 200px;
    color: black;
}
.dash__main_table {
    width: 100%;
}
.navbar__logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}
.navbar--main {
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 5.3rem;
    -webkit-transition: height 0.5s ease-out, background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
    transition: height 0.5s ease-out, background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out, height 0.5s ease-out, background-color 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, height 0.5s ease-out, background-color 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, height 0.5s ease-out, background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    font-size: 1rem;
}
.burger-container {
    position: relative;
    max-height: 32.469px;
    height: 50px;
    width: 50px;
    float: right;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -8px auto 0;
    top: 50%;
}
.burger-container #burger .bar {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.burger-container #burger .bar {
    background: #000;
}
.burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
        -ms-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
}
.burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
        -ms-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
}
.burger-container #burger .bar.lastBar {
    -webkit-transform: translateY(12px) rotate(0deg);
        -ms-transform: translateY(12px) rotate(0deg);
            transform: translateY(12px) rotate(0deg);
}
.navbar--main.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.navbar--main.menu-opened .burger-container #burger .bar {
    background: #000;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
.navbar--main.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
        -ms-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
}
.navbar--main.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
}
.navbar--main.menu-opened .burger-container #burger .bar.lastBar {
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.dash__nav > li > a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}
.dash__tab_pane {
    padding: 15px 0;
}
.dash__tab_content {
    padding: 20px;
}
.dash__tab_card {
    background: #FFF none repeat scroll 0 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
.dash__ord_title {
    margin-left: -17px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.dash__modal_field {
    font-weight: 600;
}
.dash__modal_title {
    padding: 20px 35px 10px;
    font-weight: 600;
}
.dash_modal_thead {
    border-bottom: 1px solid#E0E3DA;
}
.dash__modal_bottom {
    border-top: 1px solid #E0E3DA;
}
.dash__modal_footer {
    text-align: right;
    border: none;
}
.dash__modal_accept {
    color: white;
    border-color: #5CB85C;
    background-color: #5CB85C;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    margin: 1em auto;
}
.dash__modal_accept:hover {
    background-color: rgb(87, 170, 87);
    color: white;
}
.dash__modal_deny {
    color: #D9534F;
    border-color: #D9534F;
    background-color: transparent;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    margin: 1em auto;
}
.dash__modal_deny:hover {
    background-color: rgba(217, 83, 79, 0.1);
    color: #D9534F;
}
.dash__align {
    text-align: right;
}
.nav-categorias{
  margin: 0 auto;
  overflow: hidden;
}
.nav-categorias .nav-link{
  color: #576271;
  padding-bottom: 0.8em;
}
.nav-categorias .nav-item{
  margin: 1em;
  margin-bottom: 0;
  position: relative;
}
.nav-categorias .nav-link:after{
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  content: '';
  height: 1px;
  width: 120%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  background-color: transparent;
}
.nav-categorias .nav-link.active:after{
    content: '';
    height: 4px;
    width: 120%;
    background-color: #FEDB40;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-9%);
        -ms-transform: translateX(-9%);
            transform: translateX(-9%);
}
.dash__tab_title{
    font-size: 20px;
}
.dash__text_fields{
    margin-top: 0;
}
.dash__button_resize {
    padding: 0.6rem 0.9rem;
}
.dash__dropdown{
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.dash__dropdown:hover{
    color: #576271;
    font-size: 18px;
    transition: all 0.4s ease-in;
}
.dropdown  .dropdown-menu .dropdown-item span i{
    margin-right: 10px;
    padding: 1px;
}
.dropdown  .dropdown-menu .dropdown-item span p{
    margin: -24px 0 0 30px;
    padding: 0;
}
.image-area {
    padding: 1em;
    position: relative;
}
.image-area::before {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}
.image-area img {
    content: 'Selecciona un archivo para visualizarlo';
    color: black;
    z-index: 2;
    position: relative;
    height: 250px;
    width: auto;
}
.dash__user_svg{
    margin-left: 8rem;
}
.star-rating{
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1rem;
  font-family: star;
  font-weight: 400;
  word-break: keep  -all;
}
.star-rating span {
  overflow: hidden;
}
.star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 5 Free";
  letter-spacing: .313em;
  color: #FED700;
  margin-left: 1em;
}
.review__punctuation{
    font-size: 0.8em;
}
.review__grade{
    font-size: 1.5em;
}
.review__close{
    position: absolute;
}
.navbar__links{
  list-style-type: none;
  font-size: 0.875rem;
  margin: 0;
}
.navbar__links li{
  display: inline-block;
  margin-left: 2.2rem;
}
.navbar__links a{
  color: #484848;
  font-weight: 600;
}
.dash_review-modal-mxs{
    max-width: 1500px;
}
.page-link, .page-link:hover{
    color: #FED700;
}
.page-item.active .page-link {
    border-color: #FED700;
}
.nav-item .nav-link.active{
    border-top: 1px solid #FED700;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #FED700;
    border-left: 1px solid #FED700;
    color: #FED700;
}
.nav-item .nav-link:hover{
    background-color: #FEF3B6;
    border-color: #FEF3B6;
    color: #000;
}
.nav-item .nav-link{
    color: #000;
}
.nav-item .nav-link.active {
    color: #FED700;
}
.nav-item .nav-link {
    color: #000;
}

/*Handmade Responsive CSS elements*/
@media only screen and (max-width: 1200px){
    .review__close{
        margin-top: -8.5rem;
    }
}
@media only screen and (max-width: 768px) {
    .main__login {
        width: 70%;
    }
}
@media only screen and (max-width: 767px) {
    .main__login {
        width: 50%;
    }
    .wrapper .dash__sidebar {
        display: none;
    }
    .wrapper .dash__main {
        margin-left: 0;
        width: 100%;
    }
    .wrapper.hide .dash__sidebar {
        display: none;
    }
    .wrapper.hide .dash__main {
        margin-left: 0;
        width: 100%;
    }
    .navbar--main {
        display: block;
    }
    .wrapper .dash__main_card{
        margin-top: 5rem;
    }
    .navbar--main.menu-opened{
        background-color: white;
        height: 100vh;
        transition: box-shadow 0.8s ease-out, height 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        align-items: normal;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    }
    body.no-scroll{
        overflow: hidden;
    }
    .navbar--main{
        align-items: normal;
    }
    .navbar--normal{
        height: 80px;
    }
    .navbar--main > div{
        display: block !important;
    }
    .navbar--main .navbar__logo{
        float: left;
    }
    .burger-container{
        display: inline-block;
    }
    .navbar__links{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .navbar__links li {
        border-bottom: 1px solid #d4d4d4;
        margin-right: 0;
        margin-top: 20px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        display: block;
        margin-left: 0;
    }
    .navbar__links.navbar__icons {
        text-align: center;
        margin-top: 2em !important;
    }
    .navbar__links.navbar__icons li{
        display: inline-block;
        margin-right: 1.5em;
        border-bottom: none;
    }
    .navbar__links.navbar__icons img{
        width: 25px;
        height: auto;
    }
    .navbar__links a{
        color: #363D3D;
        text-decoration: none;
    }
    .navbar--main.menu-opened{
        background-color: #fff;
        height: 100vh;
        min-height: 750px;
        overflow-y: auto;
        transition: box-shadow 0.8s ease-out, height 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        align-items: normal;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    }
    .navbar--main.menu-opened .navbar__links{
        position: relative;
        width: auto;
        height: auto;
        visibility: visible;
        padding: 0px 48px 0;
        display: block;
        padding: 0px 48px 0;
        margin-top: 85px;
        list-style: none;
    }
    .navbar--main.menu-opened .navbar__links li {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(1) {
        transition-delay: 0.27s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(2) {
        transition-delay: 0.34s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(3) {
        transition-delay: 0.41s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(4) {
        transition-delay: 0.48s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(5) {
        transition-delay: 0.55s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(6) {
        transition-delay: 0.62s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(7) {
        transition-delay: 0.69s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(8) {
        transition-delay: 0.76s;
    }
    .navbar--main.menu-opened .navbar__links li:nth-child(9) {
        transition-delay: 0.83s;
    }
}
@media only screen and (max-height: 600px){
    body.no-scroll{
        overflow: auto;
    }
}
@media only screen and (max-width:425px){
    .dash__user_svg{
        margin-left: 4rem;
    }
    .dash__full {
        width: calc(100% - 10px);
    }
    .dash__modal_footer {
        text-align: center;
    }
    .dash__modal_bottom {
        text-align: center;
    }
    .dash__align {
        text-align: center;
    }
    .main__login {
        width: 100%;
    }
    .main__bg {
        background-image: none;
    }
    .main__message {
        font-size: 1rem;
    }
    .main_img {
        height: 30%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
    visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:after,
.clearfix:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
@media print {
    *,
    *:after,
    *:before {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
