/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root{
  --primary: #FEDB3F;
  --primaryhighlight: rgba(242, 207, 51, 1);
  --secondary: #0063D1;
  --secondaryhighlight: rgba(0, 80, 190, 1);
}

html {
  color: #2A2A2A;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.is-select-disabled{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


body{
  color: #2A2A2A;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

body.no-scroll{
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}

p{
  font-weight: 400;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}

.font-medium{
  font-size: 0.9rem;
}

.font-small{
  font-size: 0.8rem;
}

/* ==========================================================================
   LAYOUT STYLES
   ========================================================================== */

.header-main{
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%), url(../img/tienda/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-main--normal{
  height: auto;
  background: #ffffff;
  margin-bottom: 8.5rem;
}

.navbar__logo{
  width: 100%;
  max-width: 150px;
  height: auto;
}
.navbar--main{
  padding-top: 1.5rem;
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 46.734px;
  transition: box-shadow 0.5s ease-out, height 0.5s ease-out, background-color 0.5s ease-out;
  transition-delay: 0.2s;
  font-size: 1rem;
}

.navbar--normal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;  height: auto;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  padding-bottom: 1em;
  background: #ffffff;
}

.burger-container {
  position: relative;
  display: none;
  max-height: 32.469px;
  height: 50px;
  width: 50px;
  float: right;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.burger-container #burger {
   width: 18px;
   height: 8px;
   position: relative;
   display: block;
   margin: -8px auto 0;
   top: 50%;
}
.burger-container #burger .bar {
   width: 100%;
   height: 2px;
   display: block;
   position: relative;
   background: #fff;
   transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
   transition-delay: 0s;
}

.burger-container #burger .bar{
background: #000;
}

.burger-container #burger .bar.topBar {
   transform: translateY(0px) rotate(0deg);
}

.burger-container #burger .bar.btmBar {
   transform: translateY(6px) rotate(0deg);
}

.burger-container #burger .bar.lastBar {
   transform: translateY(12px) rotate(0deg);
}

.navbar--main.menu-opened .burger-container {
   transform: rotate(90deg);
}

.navbar--main.menu-opened .burger-container #burger .bar {
  background: #000;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}

.navbar--main.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}

.navbar--main.menu-opened .burger-container #burger .bar.btmBar {
   transform: translateY(3px) rotate(-45deg);
}

.navbar--main.menu-opened .burger-container #burger .bar.lastBar {
   transition: opacity 0.2s ease-in-out;
   opacity: 0;
}

.navbar__links{
  list-style-type: none;
  font-size: 0.875rem;
  margin: 0;
}

.navbar__links li{
  display: inline-block;
  margin-left: 2.2rem;
}

.navbar__links a{
  color: #484848;
  font-weight: 600;
}

.navbar__icons img{
  width: 100%;
  max-width: 20px;
  height: auto;
}
.navbar__icons li{
  margin-left: 1.5rem;
}
.btn--cta{
  border-radius: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.7em 2em;
  font-size: 0.9em;
  background-color: #fff;
  color: #000000;
  border: 1px solid #D8D8D8;
}

.btn--large{
  padding: 0.938em 2em;
}

.btn-primary, .btn-primary:link, .btn-primary:visited{
  color: #000;
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover{
  color: #000;
  background-color: var(--primaryhighlight);
  border-color: var(--primaryhighlight);
}
.btn-primary:not(:disabled):not(.disabled):active{
  color: #000;
  background-color: var(--primaryhighlight);
  border-color: var(--primaryhighlight);
  box-shadow: 0 0 0 0.2rem rgba(242, 207, 51, .5);
}
.btn-primary.focus, .btn-primary:focus{
  color: #000;
  background-color: var(--primaryhighlight);
  border-color: var(--primaryhighlight);
  box-shadow: 0 0 0 0.2rem rgba(242, 207, 51, .5);
}


.btn-secondary, .btn-secondary:link, .btn-secondary:visited{
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-secondary:hover{
  color: #fff;
  background-color: var(--secondaryhighlight);
  border-color: var(--secondaryhighlight);
}
.btn-secondary:not(:disabled):not(.disabled):active{
  color: #fff;
  background-color: var(--secondaryhighlight);
  border-color: var(--secondaryhighlight);
  box-shadow: 0 0 0 0.2rem rgba(0, 80, 190, .5);
}
.btn-secondary.focus, .btn-secondary:focus{
  color: #fff;
  background-color: var(--secondaryhighlight);
  border-color: var(--secondaryhighlight);
  box-shadow: 0 0 0 0.2rem rgba(0, 80, 190, .5);
}

.header__text{
  max-width: 300px;
}
.header__content{
  margin-top: 5em;
}
.header__title{
  margin-bottom: 0.4em;
}

.section-products-tabs .section-header{
  margin-bottom: 5em;
}
.products.products-featured .not-available:only-child{
    display: block !important;
}
.nav-categorias{
  border-bottom: 1px solid #dbdbdb;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  /*margin: 0 5em;*/
}
.nav-categorias .nav-link{
  color: #737373;
  padding-bottom: 0.8em;
}
.nav-categorias .nav-link.active{
  color: #2A2A2A;
  font-weight: 600;
}
.nav-categorias .nav-item{
  margin: 1em;
  margin-bottom: 0;
  position: relative;
}
.nav-categorias .nav-link:after{
  transition: all 0.4s ease-in;
  content: '';
  height: 1px;
  width: 120%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(100%);
  background-color: transparent;

}
.nav-categorias .nav-link.active:after{
    content: '';
    height: 1px;
    width: 120%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-9%);
}
.product{
  margin-bottom: 5em;
}
.product.featured{
  text-align: center;
}
.product__title{
  font-weight: 300;
  color: #000000;
  font-size: 1em;
}

.product__price{
  font-size: 1.2em;
  color: #0063D1;
}

.product__image{
  margin-bottom: 1.5em;
  height: 220px;
  position: relative;
}
.product__image img{
  max-width: 300px;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product__rating{
  color: #cbcbcb;
  text-align: center;
  margin-top: 0.5em;
}
.star-rating{
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1rem;
  font-family: star;
  font-weight: 400;
  word-break: keep  -all;
}

.star-rating span {
  overflow: hidden;
}
.star-rating:before {
  content: attr(data-rating);
  font-family: "Font Awesome 5 Free";
  letter-spacing: .313em;
  color: #FBB03B;
  font-weight: 900;
  margin-left: 1em;
}
.btn-products-more:before{
  content: '';
  height: 1px;
  width: 100%;
  background-color: #C6C6C6;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.page-footer hr{
  border-top: 1px solid #EBEBEB;
}

.section-cta{
  background-image: url('../img/tienda/cta.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 4em 0;
}
.section-cta h3{
  color: white;
  font-weight: 400;
  margin-bottom: 1em;
}
.footer__text{
  font-size: 0.9em;
  color: #808080;
}
.footer__social li{
  display: inline-block;
  margin-right: 1.5em;
}
.footer__social a{
  color: #C5C5C5;
}

.footer__links li{
  font-size: 0.9em;
  margin-bottom: 1em;
}

.footer__links a{
  color: #2A2A2A;
}
.footer-copyright{
  color: #AEAEAE;
}


a.go-back{
  color: #000;
}
.form-container{
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  color: #808080;
}
.form-title{
  color: #000;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.form-input{
  border: 1px solid #D8D8D8;
  border-radius: 1.5em;
  padding: .8em;
  padding-left: 1.4em;
  outline: none;
  width: 100%;
  display: block;
  margin-bottom: 1em;
}
.form-input.error{
    border: 1px solid #FF5722;
}
.form-error-label{
    text-align: left;
    margin: 0;
    margin-left: 1em;
    font-size: 0.9rem;
    color: #E53935;
}
a.form-forgotten-pass{
  color: inherit;
}
.form-submit{
  width: 100%;
  text-transform: none;
}
.form-text{
  color: #000;
}
.form-text a{
  font-weight: 600;
  color: inherit;
}

.checkbox-cat{
  margin-bottom: .8em;
  font-size: 0.9em;
}

.checkbox-cat .cat-count{
  color: #C4C4C4;
  margin-left: .5em;
}

.checkbox-cat input[type="checkbox"]{
  width: 1.3rem;
  height: 1.35rem;
}

.checkbox-cat .custom-control-label{
  padding-left: .5em;
}

.checkbox-cat .custom-control-label::before, .checkbox-cat .custom-control-label::after{
  width: 1.2rem;
  height: 1.2rem;
  top: 0.15rem;
}

.price-range .easy-basket-filter {
	width: 100%;
	margin: 80px 0;
	position: relative;
}
.price-range .fill {
	height: 3px;
	width: 100%;
	background-color: #0063D1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.price-range .easy-basket-filter-info {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: -50px;
}
.price-range .easy-basket-filter-info p{
	color: #000;
	padding: 2px 6px;
	background-color: #F4F4F4;
	border-radius: 4px;
	margin:0;
}
.price-range .easy-basket-filter-info .iLower{
	float:left;
	display: inline-block;
}
.price-range .easy-basket-filter-info .iUpper{
	float:right;
	display: inline-block;
}
.price-range .easy-basket-filter-info input{
	width: inherit;
	border: none;
	color: #000;
	font: 11px Open Sans;
	background-color: #F4F4F4;
	width: 30px;
	text-align:center;
}
/***** Position dual *****/
.price-range .range {
	position: absolute;
	left: 0;
	top: 0;
}

/****** Style range ******/
.price-range input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0;
	background: transparent;
}

.price-range input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.price-range input[type=range]:focus, input[type=text]:focus {
	outline: none;
}
.price-range input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height:18px;
	width: 18px;
	border: 2px solid #202020;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	background: #F1F1F1;
	cursor: pointer;
	margin-top: -8px;
}
.price-range input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #707D7D;
	border-radius: 1.3px;
}

.price-range input[type=range].lower::-webkit-slider-runnable-track {
	background: red;
}

.store-cards .card-title{
  font-size: .9em;
  text-transform: uppercase;
}

.store-cards .card{
  margin-bottom: 1.5rem;
}

.product-breadcrumb{
  font-size: .9em;
  margin-top: -1rem;
}

.product-breadcrumb .breadcrumb{
  background-color: transparent;
}

.product-breadcrumb .breadcrumb-item a{
  color: #B2B2B2;
}

.product-breadcrumb .breadcrumb-item.active{
  color: #000;
}
.product-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  padding-right: 1rem;
  color: #E2E2E2;
}
.product-breadcrumb .breadcrumb-item+.breadcrumb-item{
  padding-left: 1rem;
}

.breadcrumb-item.home img{
  width: 1rem;
  height: auto;
}
.product-info h1{
  font-weight: 300;
  font-size: 1.9em;
}
.product-info .product-price{
  font-size: 1.8em;
  color: var(--secondary);
}
.product-description h4{
  font-size: 1em;
}

.product-description p{
  font-size: 0.9em;
}

.product-image{
  display: flex;
}

.product-thumbnail{
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.img_1-1{background-image:url('../img/tienda/producto.jpg');}
.img_1-2{background-image:url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');}
.img_1-3{background-image:url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');}

.preview-thumbnail{
  display: block;
}
.preview-thumbnail li{
  width: 100%;
  margin-bottom: 1em;
}
.preview-pic img{
  width: 100%;
  max-height: 600px;
  min-height: 370px;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

/*QUANTITY SPINNER*/
.ctrl {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid #D8D8D8;
  background-color: #fff;
  border-radius: 5em;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 8.83em;
}

.ctrl__counter {
  position: relative;
  width: 2.7em;
  height: 2.7em;
  color: #333C48;
  text-align: center;
  overflow: hidden;
  font-weight: 600;
}

.ctrl__counter.is-input .ctrl__counter-num {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 1em;
  line-height: 2.7em;
  text-align: center;
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 2.7em;
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num.is-increment-hide {
  opacity: 0;
  transform: translateY(-50px);
  animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
  opacity: 1;
  transform: translateY(0);
  animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  transform: translateY(50px);
  animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  transform: translateY(0);
  animation: decrement-next 100ms ease-out;
}

.ctrl__button {
  width: 3em;
  line-height: 2.7em;
  text-align: center;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 100ms ease-in;
  border-radius: 5em;
  font-weight: 600;
}

.ctrl__button:hover {
  background-color: #fff;
  transition: background-color 100ms ease-in;
}

.ctrl__button:active {
  background-color: #f1f1f1;
  transition: background-color 100ms ease-in;
}
 @-webkit-keyframes
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@keyframes
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}
@-webkit-keyframes
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@keyframes
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
@-webkit-keyframes
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
@keyframes
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}
/*END QUANTITY SPINNER*/

.rating-section > h2{
  font-size: 1em;
}

.fa-star,.fa-star-half-alt{
	color:#FBB03B;
}
#inputRating{
    font-size:30px;
    color: #FBB03B;
    float: right;
}
.rating{
	width: 50%;
  float:left;
  text-align: center;
}
.rating p{
  margin-top:0.65em;
  color: #B9B9B9;
}
.rating h2{
	margin:0px;
	font-size:3.75em;
}
.rating-process{
	width: 50%;
	text-align: left;
	float:right;
}
.rating-right-part{
	margin-bottom:1.5rem;
}
.rating-right-part p{
	margin:0px;
}
.progress-1,.progress-2,.progress-3,.progress-4,.progress-5{
    background:#DBDBDB;
    border-radius: 13px;
    height:.25rem;
    width:70%;
    padding:0px;
    margin: -16px 0px 0px 55px;
    display: block;
}
.progress-1:after,.progress-2:after,.progress-3:after,.progress-4:after,.progress-5:after{
    content: '';
    display: block;
    background: #FBB03B;
    width:0%;
    height: 100%;
    border-radius: 9px;
}
.progress-1:after{
    --x: attr(data-rating);
    width: calc(var(--x));
	/*width: attr(data-rating);*/
}
.progress-2:after{
	width: 60%;
}
.progress-3:after{
	width:40%;
}
.progress-4:after{
	width:20%;
}
.progress-5:after{
	width:10%;
}

.user-ratings{
  font-size: 0.8rem;
  max-height: 15rem;
  overflow-y: auto;
}
.user-ratings h4{
  font-size: 1rem;
}

.user-rating{
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.user-rating .fa-user-circle{
  color: #B2B2B2;
}

.table-cart-title{
  font-size: 1.5rem;
}
.cart-table thead{
  color: #C1C1C1;
}
.cart-table th{
  font-weight: 400;
}
.cart-table td, .cart-table th{
  border: 0;
}
.cart-table td{
  text-align: center;
}
.cart-table tbody h5 {
  font-size: 1rem;
}

.check-title{
  max-width: 150px;
}
.check-summary{
  max-height: 15rem;
  overflow-y: auto;
}
.check-total{
  background-color: #F1F1F1;
  padding: 1rem;
  border-radius: 3rem;
}

.nav-dashboard{
  padding-right: 0;
}

.nav-dashboard ul.nav{
  border-right: 1px solid #C6C6C6;
}

.nav-dashboard .nav-item{
  width: 100%;
  margin-right: 1rem;
}
.nav-dashboard .nav-link{
  margin: 1rem 0;
  padding:0;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in;
  color: #333333;
  font-weight: 600;
}
.nav-dashboard .nav-link:hover, .nav-dashboard .nav-link.active{
  background-color: #FFF6CC;
  color: #000;
}

.nav-dashboard .nav-icon{
  margin-right: 1.8rem;
}

.table-dashboard td{
  vertical-align: middle;
}

/*2FA MODAL*/
.twofa .form {
  display: block;
}
.twofa .form__group {
  margin: 10px 0 0;
}
.twofa .form__group--error.form__pincode > input {
  background-color: #eb3b3b;
}
.twofa .form__group--error.form__pincode > input[disabled] {
  background-color: #eb3b3b;
  color: #fff;
  opacity: 1;
}
.twofa .form__group--success.form__pincode > input {
  background-color: #32c832;
}
.twofa .form__group--success.form__pincode > input[disabled] {
  background-color: #32c832;
  color: #fff;
  opacity: 1;
}
.twofa .form__pincode {
  display: block;
  width: 100%;
  margin: 10px auto 20px;
  padding: 0;
}
.twofa .form__pincode:before,
.twofa .form__pincode:after {
  display: table;
  content: '';
}
.twofa .form__pincode:after {
  clear: both;
}
.twofa .form__pincode > label {
  display: block;
  text-align: center;
  margin: 10px 0;
}
.twofa .form__pincode > input[type="number"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.twofa .form__pincode > input {
  display: inline-block;
  float: left;
  width: 15%;
  height: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 2em;
  color: #181819;
  border: 0;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px 2px 0 0;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  cursor: default;
  user-select: none;
  margin: 0;
  margin-top: 10px;
  margin-right: 2%;
  padding: 0;
}
.twofa .form__pincode > input:focus {
  outline: 0;
  box-shadow: none;
  border-color: #1486f0;
  animation: border-pulsate 1.5s infinite;
  -webkit-tap-highlight-color: transparent;
}
.twofa .form__pincode > input:last-child {
  margin-right: 0;
}
.twofa .form__pincode > input[disabled] {
  background: #eee;
  opacity: 1;
}
.twofa .form__buttons {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 0;
}
/* Button
   ============================================== */
.twofa .button-p {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
/* primary */
}
.twofa .button-p--primary {
  background-color: #fedb3f;
  color: #fff;
  line-height: 48px;
  border: 1px solid transparent;
  border-radius: 50px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
  -webkit-touch-callout: none;
rgba(0,0,0,0.3)
/* disabled */
}
.twofa .button-p--primary:focus,
.twofa .button-p--primary:hover {
  background-color: rgb(242 207 51);
  color: #fff;
  text-decoration: none;
}
.twofa .button-p--primary:active {
  background-color: rgb(242 207 51);
  color: #fff;
  box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.1);
}
.twofa .button-p--primary[disabled] {
  background-color: rgb(242 207 51);
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}

.twofa .qr-image{
  max-width: 300px;
  height: auto;
  width: 100%;
  margin: auto;
}
/* Animations
   ============================================== */
@-moz-keyframes border-pulsate {
  0% {
    border-color: #1486f0;
  }
  50% {
    border-color: rgba(0,0,0,0.3);
  }
  100% {
    border-color: #1486f0;
  }
}
@-webkit-keyframes border-pulsate {
  0% {
    border-color: #1486f0;
  }
  50% {
    border-color: rgba(0,0,0,0.3);
  }
  100% {
    border-color: #1486f0;
  }
}
@-o-keyframes border-pulsate {
  0% {
    border-color: #1486f0;
  }
  50% {
    border-color: rgba(0,0,0,0.3);
  }
  100% {
    border-color: #1486f0;
  }
}
@keyframes border-pulsate {
  0% {
    border-color: #1486f0;
  }
  50% {
    border-color: rgba(0,0,0,0.3);
  }
  100% {
    border-color: #1486f0;
  }
}

@media (min-width: 576px){
  .section-cta.jumbotron {
      padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 769px){
  body.no-scroll{
    overflow: auto;
  }
}

@media only screen and (min-width: 991px){
  .preview-thumbnail {
    border-bottom: 0;
  }
}

@media only screen and (max-width: 991px){
  .product-image {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0;
  }

  .preview-thumbnail{
    display: flex;
    flex-direction: row;
  }

  .preview-thumbnail li {
    width: 50px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .check-title{
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px){
  .navbar--main{
    align-items: normal;
  }
  .navbar--normal{
    height: 80px;
  }
  .navbar--main > div{
    display: block !important;
  }
  .navbar--main .navbar__logo{
    float: left;
  }
  .burger-container{
        display: inline-block;
  }
  .navbar__links{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .navbar__links li {
    border-bottom: 1px solid #d4d4d4;
    margin-right: 0;
    margin-top: 20px;
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    display: block;
    margin-left: 0;
  }
  .navbar__links.navbar__icons {
    text-align: center;
    margin-top: 2em !important;
  }

  .navbar__links.navbar__icons li{
    display: inline-block;
    margin-right: 1.5em;
    border-bottom: none;
  }

   .navbar__links li:nth-child(1) {
    transition-delay: 0.49s;
  }
   .navbar__links li:nth-child(2) {
       transition-delay: 0.42s;
  }
   .navbar__links li:nth-child(3) {
       transition-delay: 0.35s;
  }
   .navbar__links li:nth-child(4) {
       transition-delay: 0.28s;
  }
   .navbar__links li:nth-child(5) {
       transition-delay: 0.21s;
  }
  .navbar__links li:nth-child(6) {
       transition-delay: 0.14s;
  }
  .navbar__links li:nth-child(7) {
       transition-delay: 0.07s;
  }


  .navbar__links a{
    color: #363D3D;
  }

  .navbar--main.menu-opened{
    background-color: #fff;
    height: 400px;
    transition: box-shadow 0.8s ease-out, height 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
    align-items: normal;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  }

  .navbar--main.menu-opened .navbar__links{
    position: relative;
    width: auto;
    height: auto;
    visibility: visible;
    padding: 0px 48px 0;
    display: block;
    padding: 0px 48px 0;
    margin-top: 85px;
    list-style: none;
  }

  .navbar--main.menu-opened .navbar__links li {
     transform: scale(1) translateY(0px);
     opacity: 1;
  }
   .navbar--main.menu-opened .navbar__links li:nth-child(1) {
       transition-delay: 0.27s;
  }
   .navbar--main.menu-opened .navbar__links li:nth-child(2) {
       transition-delay: 0.34s;
  }
  .navbar--main.menu-opened .navbar__links li:nth-child(3) {
       transition-delay: 0.41s;
  }
   .navbar--main.menu-opened .navbar__links li:nth-child(4) {
       transition-delay: 0.48s;
  }
  .navbar--main.menu-opened .navbar__links li:nth-child(5) {
       transition-delay: 0.55s;
  }
   .navbar--main.menu-opened .navbar__links li:nth-child(6) {
       transition-delay: 0.62s;
  }
  .navbar--main.menu-opened .navbar__links li:nth-child(7) {
       transition-delay: 0.69s;
  }


  .user-ratings{
    max-height: 25rem;
  }

  .user-rating{
    padding-left: 0;
  }

  .nav-dashboard ul.nav{
    border-right: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C6C6C6;
  }
}

@media only screen and (max-width: 500px){
  .rating, .rating-process{
    width: 100%;
  }
  .progress-1, .progress-2, .progress-3, .progress-4, .progress-5{
    width: 80%;
  }
}
@media only screen and (max-width: 384px){
  .product-breadcrumb{
    display: none;
  }
}
@media only screen and (max-height: 399px){
  .navbar--main.menu-opened {
    min-height: 100%;
    max-height: 100%;
  }
  .navbar--main.menu-opened .navbar__links{
    margin-top: 50px;
  }
}
